<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <!--link google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--link bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- link css-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!-- inicio barra de navegacion-->
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>METROPOLIS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="cursos.html">Cursos</a>
                            <a class="nav-link" href="tienda.html">Tienda</a>
                            <a class="nav-link" href="galeria.html">Galería</a>
                            <a class="nav-link" href="../index.html">Salir<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </nav>
            </div>         
        </div>
    </div>
    <!-- cierre de barra de navegacion-->
    <section class="anuncio">
        <h3 class="anuncio__titulo-- anuncio__titulo--color anuncio__titulo--mbox anuncio__titulo--ubicacion"> Gran variedad de artículos disponibles</h3> 
        <p class="anuncio__texto anuncio__texto--mbox anuncio__texto--ubicacion">Estos son los artículos que tenemos para tí:</p>
    </section>
    <div class="contenedor padTienda">
        <div class="row imagenesTienda">
            <section class="col-lg-3 col-xs-6"> 
                <img src="../assets/img/tienda/lomo1.jpg" alt="camaras" class="img-fluid imgJQuno imagenHover">
                <h4 class="tiendah4"> Cámaras</h4>
                <p>Tenemos una amplia seleccion tanto de cámaras analógicas como digitáles para tí.</p>
            </section>
            <section class="col-lg-3 col-xs-6">
                <img src="../assets/img/tienda/lomo2.jpg" alt="films" class="img-fluid imgJQdos imagenHover">
                <h4 class="tiendah4"> Films</h4>
                <p>Películas en formato 35mm, 110mm, 120mm, y más para que experimentes con cada selección. </p>
            </section>
            <section class="col-lg-3 col-xs-6">
                <img src="../assets/img/tienda/lomo3.jpg" alt="lentes" class="img-fluid imgJQtres imagenHover">
                <h4 class="tiendah4"> Lentes</h4>
                <p>Diferentes tipos de lentes para añadirles a tu cámara favorita.</p>
            </section>
            <section class="col-lg-3 col-xs-6">
                <img src="../assets/img/tienda/lomo4.jpg" alt="accesorios" class="img-fluid imgJQcuatro imagenHover ">
                <h4 class="tiendah4">Accesorios</h4>
                <p>Echa un vistazo a los nuevos accesorios que tenemos para tí, desde fundas, trípodes y flashes hasta escáneres.</p>
            </section>
        </div>
    </div>
    <section class="novedades">
        <h3 class="novedades__titulo novedades__titulo--color novedades__titulo--box"> Novedades y ofertas imperdibles</h3> 
        <p class="novedades__texto--tamanio novedades__texto--box jqparrafo"> text desde jq</p>
    </section>
    <div class="contenedor colorT">
        <div class="row imagenesTiendaDos">
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/01.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Lente artístico Nikon F 2.9/64</h5>
                        <p  class="item-price">98.50€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/02.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">FANTOME bW 35mm</h5>
                        <p  class="item-price">30.50€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/03.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Cámara reusable red Lomochrome</h5>
                        <p  class="item-price">49.90€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/04.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Lomogon 2.5/32 art lente Nikon F</h5>
                        <p  class="item-price">80.30€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/06.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Lomography negativo color 400 ISO</h5>
                        <p  class="item-price">15.60€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/07.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Nueva Lomochrome purple 35mm<</h5>
                        <p  class="item-price">30.50€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/08.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Carcasa acuática LC-A+</h5>
                        <p  class="item-price">40.90€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
            <section class="col-lg-3 col-xs-12">
                <div class="item shadow mb-4">
                    <img class="img-fluid bordeTienda item-image" src="../assets/img/tienda/09.jpg">
                    <div class="item-details">
                        <h5 class="padH5 item-title">Cámara Diana F5</h5>
                        <p  class="item-price">58.50€ </p>
                        <button class="btn btn-boxdos btn-outline-secondary addToCart ">Añadir al carrito</button>
                    </div>
                </div>
            </section>
        </div>
    </div>  
    <section class="shopping-cart">
        <div class="container contenedor-carrito">
            <h3 class="text-center">Carrito</h3>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <div class="shopping-cart-items shoppingCartItemsContainer">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total</p>
                        <p class="ml-4 mb-0 shoppingCartTotal">0€</p>
                        <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                            data-delay="2000">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                Se aumentó correctamente la cantidad
                            </div>
                        </div>
                        <button  type="button" class=" mbxboton btn btn-primary btn-sm comprarButton" data-toggle="modal"
                        data-target="#comprarModal">Comprar</button>
                        <button type="button" class="mbxboton btn btn-secondary btn-sm botonBorrar">Cerrar</button>
                    </div>
                </div>
            </div>

            <!-- END TOTAL -->

            <!-- START MODAL COMPRA -->
            <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Pronto recibirá su pedido</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL COMPRA -->


        </div>

    </section>
    <div class="contenedor formularioTienda">
        <div class="row">
            <section class="col-lg-12 col-xs-12 centradoForm" data-aos="fade-up" data-aos-duration="1500">
                <form method="POST" enctype="text/plain" class="formC">     
                    <div class="form">
                        <h3 class="tituloForm"> Comunicate para más información</h3>   
                        <div class="grupo">
                            <input type="text" name="" id="name" class="input" placeholder="Ingresa tu nombre"><span class="barra"></span>
                            <label for=""></label>
                        </div>             
                        
                        <div class="grupo">
                            <input type="text" name="" required="true" id="email" class="input"  placeholder="Ingresa tu email"><span class="barra"></span>      
                            <label for=""></label>
                        </div>

                        <div><p class="textoForm" >Estoy interesado/a en:</p>
                            <input type="checkbox" id="camaras" class="txtSave" name="film" value="cámaras"/> 
                            <label for="camaras">Cámaras</label><br>
                            <input type="checkbox" id="films" class="txtSave" name="film" value="films"/> 
                            <label for="films">Films</label><br>
                            <input type="checkbox" id="lentes"  class="txtSave" name="film" value="lentes"/> 
                            <label for="lentes">Lentes</label><br>
                            <input type="checkbox" id="accesorios"  class="txtSave" name="film" value="accesorios" class="colorFormTienda"/> 
                            <label for="accesorios">Accesorios</label><br>
                        </div> <br>
                        
                        <button type="button" class="btn btn-box btn-outline-dark"  id="btnSave">Enviar</button>
                    </div>
                </form>
            </section>
        </div> 
    </div>
    <!--cierre compra-->
    <!--inicio footer-->
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <footer class="footer">
                    <ul>
                        <li><a href="acerca.html">Acerca</a></li> 
                        <li style="padding-bottom: 10px;"><a href="contacto.html">Contacto</a></li>
                        <p class="footerP">099 598 572</p>
                        <p class="footerP">info@metropolis.com.uy</p>
                        <li><a href="http://www.facebook.com/"><img src="../assets/img/redes sociales/fb.png" class="imagenesRedes"></a></li>
                        <li><a href="http://www.instagram.com/"><img src="../assets/img/redes sociales/ig.png" class="imagenesRedes"></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
    <!--cierre footer-->
    </div>
    <script src="../javascript/tienda.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="../javascript/jquery.js"></script>
    <script src="../javascript/form.js"></script>
    <script src="../javascript/datos.js"></script>
</body>
</html>